//control-menu==================================================
#control-menu.line-height-large.m-bottom-8(data-currentpage='#{pageName}')
  .panel
    a.control-menu-top.collapsed(data-toggle='collapse', data-parent='#control-menu', href='#collapseEight')
      span.glyphicon.glyphicon-user.m-right-2
      | #{i18n('member-area')}
    #collapseEight.panel-collapse.collapse
      ul.list-unstyled.p-left-6
        li
          a(href='/admin/members') #{i18n('member-list')}
    // /panel-collapse
  // /panel
// /panel-group

// sidebar navigation active
